/* 
Author Name: Matthew Kolesnik
Date: 1 Feb 2026 
*/




                                    /* Mobile Layout*/

html{
    padding: 0;
    border: 5px solid lightgray;
}

body{
    padding: 0;
    box-sizing: border-box;
    margin: 5px;
}

*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* Hide all articles not on mobile */

.desktopOnly{
    display: none;
}

.allCategorieTitles{
    display: none;
}

/* Header Styles */

.header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-bottom: 0.33rem solid black;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
}

.NewsPaperTitle{
    margin-left: 3rem;
}

.hamburgerImage{
    width: 2rem;
    height: auto;
}

.categorieTitle:hover{
    text-decoration: underline;
    cursor: pointer;
    background-color: lightslategrey;
}

/* Article Styles */
.Article{
    width: 100%;
    margin-bottom: 1rem;
}

.articleImg{
    width: 100vw;
    max-width: 100%;
    object-fit: contain;
}

.articleTitle{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.articleContent{
    margin-top: 0;
    margin-bottom: 0;
}

/* Footer */
.footer{
    background-color: rgb(211, 211, 211);
}

.footerContent{
    padding: 0.75rem;
}

.footerContent a:nth-child(-n+2){
    border-right: 0.1rem black solid;
}

.footerTitles{
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.3rem;
}

.footerColLinks{
    margin: 0;
}

.footerColLinks a{
    text-decoration: none;
    color: black;
    margin-right: 0.25rem;
}



/* Tablet (481px - 768px) */
@media (min-width: 481px) and (max-width: 768px) {

    .header {
        display: flex;
        flex-direction: column; 
        width: 100%;
        margin-bottom: 2rem;
    }

    .categories {
        display: flex;
        flex-direction: row;
        align-items: center;       
        justify-content: flex-start; 
        width: 100%;
        
        border-bottom: 0.33rem solid black;
        
        padding: 0.5rem 1rem;
        margin-bottom: 1rem; 
    }

    .hamburgerImage {
        width: 2rem;     
        height: auto;
        margin-right: 2rem; 
    }

    .allCategorieTitles {
        display: flex;
        flex-direction: row;
        gap: 1.5rem; 
        width: 100%; 
        justify-content: space-around; 
    }

    .allCategorieTitles a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 1rem;
        
        border-right: 1px solid black;
        padding-right: 1.5rem;
    }

    /* Remove the border from the last link */
    .allCategorieTitles a:last-child {
        border-right: none;
    }

    /* The Title Section */
    .NewsPaperTitleDiv {
        width: 100%;
        text-align: center;
        padding: 1rem;
    }

    .NewsPaperTitle {
        font-size: 5rem; 
        margin: 0;
    }

    .mainContent{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(6, auto);
        gap: 1rem;
    }

    /* Article 1 - Left column, rows 1-3 */
    .mainContent .Article:nth-of-type(1){
        grid-column: 1;
        grid-row: 1 / 4;
    }

    /* Article 2 - Left column, rows 4-6 */
    .mainContent .Article:nth-of-type(2){
        grid-column: 1;
        grid-row: 4 / 7;
    }

    /* Article 3 - Right column, rows 1-2 */
    .mainContent .Article:nth-of-type(3){
        grid-column: 2;
        grid-row: 1 / 3;
    }

    /* Article 4 - Right column, rows 3-4 */
    .mainContent .Article:nth-of-type(4){
        grid-column: 2;
        grid-row: 3 / 5;
    }

    /* Article 5 - Right column, rows 5-6 */
    .mainContent .Article:nth-of-type(5){
        grid-column: 2;
        grid-row: 5 / 7;
    }

    .footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .footerContent{
        display: flex;
        flex-direction: column;
        gap: 0.35rem;
        padding: 0.75rem;
    }

    .footerColLinks{
        display: flex;
        flex-direction: column;
        gap: 0.35rem;
        margin: 0;
    }

    .footerContent a:nth-child(-n+2){
        border: none;
        margin: 0;
    }
}


/* Desktop (769px and up) */
@media (min-width: 769px) {
    .desktopOnly{
        display: block;
    }

    .desktopOnly p{
        display: block;
    }

    .header {
        display: flex;
        flex-direction: column; 
        width: 100%;
        margin-bottom: 2rem;
    }

    .categories {
        display: flex;
        flex-direction: row;
        align-items: center;       
        justify-content: flex-start; 
        width: 100%;
        
        border-bottom: 0.33rem solid black;
        
        padding: 0.5rem 1rem;
        margin-bottom: 1rem; 
    }

    .hamburgerImage {
        width: 2rem;     
        height: auto;
        margin-right: 2rem; 
    }

    .allCategorieTitles {
        display: flex;
        flex-direction: row;
        gap: 1.5rem; 
        width: 100%; 
        justify-content: space-around; 
    }

    .allCategorieTitles a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 1rem;
        
        border-right: 1px solid black;
        padding-right: 1.5rem;
    }

    .allCategorieTitles a:last-child {
        border-right: none;
    }

    .NewsPaperTitleDiv {
        width: 100%;
        text-align: center;
        padding: 1rem;
    }

    .NewsPaperTitle {
        font-size: 5rem; 
        margin: 0;
    }

    /* Main Content Grid - 3 columns, 6 rows */
    .mainContent{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: repeat(6, auto);
        gap: 1rem;
    }

    /* Article 1 - Column 1, rows 1-3 */
    .mainContent .Article:nth-of-type(1){
        grid-column: 1;
        grid-row: 1 / 4;
    }

    /* Article 2 - Column 1, rows 4-6 */
    .mainContent .Article:nth-of-type(2){
        grid-column: 1;
        grid-row: 4 / 7;
    }

    /* Article 3 - Column 2, rows 1-2 */
    .mainContent .Article:nth-of-type(3){
        grid-column: 2;
        grid-row: 1 / 3;
    }

    /* Article 4 - Column 2, rows 3-4 */
    .mainContent .Article:nth-of-type(4){
        grid-column: 2;
        grid-row: 3 / 5;
    }

    /* Article 5 - Column 2, rows 5-6 */
    .mainContent .Article:nth-of-type(5){
        grid-column: 2;
        grid-row: 5 / 7;
    }

    /* Article 6 - Column 3, rows 1-2 */
    .mainContent .Article:nth-of-type(6){
        grid-column: 3;
        grid-row: 1 / 3;
    }

    /* Article 7 - Column 3, rows 3-4 */
    .mainContent .Article:nth-of-type(7){
        grid-column: 3;
        grid-row: 3 / 5;
    }

    /* Article 8 - Column 3, rows 5-6 */
    .mainContent .Article:nth-of-type(8){
        grid-column: 3;
        grid-row: 5 / 7;
    }

    /* Footer - 3 columns */
    .footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .footerContent{
        display: flex;
        flex-direction: column;
        gap: 0.35rem;
        padding: 0.75rem;
    }

    .footerColLinks{
        display: flex;
        flex-direction: column;
        gap: 0.35rem;
        margin: 0;
    }

    .footerContent a:nth-child(-n+2){
        border: none;
        margin: 0;
    }
}