<!doctype html>
<!--
Author: Matthew Kolesnik
Date: 1 Feb 2025
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Optimist Guardian</title>
    <link rel="stylesheet" href="NewsPaperLayoutCSS/normalize.css" />
    <link rel="stylesheet" href="NewsPaperLayoutCSS/NewsPaperLayout.css" />
  </head>

  <body>
    <div class="header">
      <div class="categories">
        <img
          class="hamburgerImage"
          src="Images/Hamburger_icon.svg.png"
          alt="Hamburger menu dropdown"
        />

        <div class="allCategorieTitles">
          <a href="https://example.com">
            <div class="categorieTitle">
              <h2>HEADLINES</h2>
            </div>
          </a>

          <a href="https://example.com">
            <div class="categorieTitle">
              <h2>SPORTS</h2>
            </div>
          </a>

          <a href="https://example.com">
            <div class="categorieTitle">
              <h2>LOCAL</h2>
            </div>
          </a>

          <a href="https://example.com">
            <div class="categorieTitle">
              <h2>WEATHER</h2>
            </div>
          </a>

          <a href="https://example.com">
            <div class="categorieTitle desktopOnly">
              <h2>ARTS</h2>
            </div>
          </a>

          <a href="https://example.com">
            <div class="categorieTitle desktopOnly">
              <h2>BUSINESS</h2>
            </div>
          </a>

          <a href="https://example.com">
            <div class="categorieTitle desktopOnly">
              <h2>POLITICS</h2>
            </div>
          </a>
        </div>
      </div>

      <div class="NewsPaperTitleDiv">
        <h1 class="NewsPaperTitle">The Optimist Guardian</h1>
      </div>
    </div>

    <!-- Start of Article -->
    <main class="mainContent">
      <!-- Article 1 -->
      <div class="Article">
        <img
          class="articleImg"
          src="Images/old-man-yells-at-cloud.jpg"
          alt="Image Placeholder"
        />
        <h2 class="articleTitle">Old Man Yells at Cloud</h2>
        <p class="articleContent">
          An incident at the Springfield Park today left many onlookers
          surprised. A local resident, known for his grumpiness and cynicism,
          was seen shouting at the clouds. The man in question is Abraham
          Simpson, a resident of the Springfield Retirement Castle. Eyewitnesses
          reported that Abraham was walking through the park when he suddenly
          stopped and looked up at the sky. Without any apparent reason, he
          started yelling at the clouds, attracting the attention of those
          around him. The incident has sparked interest among the residents of
          the Springfield Retirement Castle, many of whom have known Abraham for
          years. We talked to some of them to get their thoughts on this
          peculiar event. "Oh, that's just Abe being Abe," said fellow resident
          Jasper Beardly. "He's always had a bit of a temper and isn't afraid to
          voice his opinions, even if it's just to the clouds." "I don't know
          what to make of it," said Hans Moleman. "But then again, I've never
          been one to judge others for their quirks." "I think it's just a sign
          of his age," said another resident, Granny Simpson. "At our age, you
          can afford to do things like yell at the clouds and not worry about
          what others think." While some may see Abraham's behavior as quirky or
          eccentric, the residents of the Springfield Retirement Castle seem to
          view it as a harmless expression of his personality.
        </p>
      </div>

      <!-- Article 2 -->
      <div class="Article">
        <img
          class="articleImg"
          src="Images/bcsBillboard.jpg"
          alt="Image Placeholder"
        />
        <h2 class="articleTitle">Local Lawyer, Local Hero</h2>
        <p class="articleContent">
          Details unfold as witnesses share impressions of yesterday’s gallant
          rescue by local attorney James M. McGill. McGill scaled a construction
          vehicle and climbed onto a billboard catwalk, rescuing a worker,
          Robert Williams, in peril. McGill, though congratulated by local law
          enforcement and emergency response, denies heroic action. “I saw a man
          in trouble, and... well, instinct took over. I’m sure anyone else
          would have done the same thing,” McGill said.
        </p>
      </div>

      <!-- Article 3 -->
      <div class="Article">
        <img
          class="articleImg"
          src="Images/Arctic-polar-bear.jpg"
          alt="Image Placeholder"
        />
        <h2 class="articleTitle">
          Polar Bears are in Better Physical Shape than 25 Years Ago, Despite
          Sea Ice Losses
        </h2>
        <p class="articleContent">
          Polar bears are in better physical health than they were 25 years ago,
          despite the decrease in sea ice, reveals new research.
        </p>
        <p class="desktopOnly articleContent">
          The well-being of the iconic white mammals living around the Norwegian
          island of Svalbard has improved in the face of climate change, likely
          due to better opportunities to hunt. The scientists were ‘surprised’
          that the bears’ fat reserves have increased since the year 2000, even
          while sea ice levels decreased.
        </p>
      </div>

      <!-- Article 4 -->
      <div class="Article">
        <img
          class="articleImg"
          src="Images/farmer.jpg"
          alt="Image Placeholder"
        />
        <h2 class="articleTitle">
          Farmers Enjoy Record Spring Harvests Despite Drought Thanks to Mixture
          of New and Old Methods
        </h2>
        <p class="articleContent">
          Farming adaptations have seen Canada’s farmers turn out record
          harvests in the middle of a 5-year drought.
        </p>
        <p class="desktopOnly articleContent">
          Truly unsavory conditions, like oppressive rainfall followed by an
          immediate return to drought, would typically have left the wheat on
          Simon Ellis’ fields shriveled and worthless. Instead, plump grains
          were ready to be scooped up by his combine. He contributed the extra
          grain—almost all of which will be exported abroad to developing
          countries—to a national harvest total that tops any on record despite
          a drought that started in 2020.
        </p>
      </div>

      <!-- Article 5 -->
      <div class="Article">
        <img
          class="articleImg"
          src="Images/planet.jpg"
          alt="Image Placeholder"
        />
        <h2 class="articleTitle">
          Citizen Scientist Spots Earth-like Planet: Now Astrophysicists Will
          Focus Most Powerful Telescopes on it
        </h2>
        <p class="articleContent">
          In a story that proves you don’t have to be a star to find a star,
          astronomers are excited to train the next generation of telescopes at
          an Earth-like exoplanet discovered by a citizen scientist.
        </p>
        <p class="desktopOnly articleContent">
          Alexander Venner, currently studying studying at the Max Planck
          Institute for Astronomy, picked his way by hand through the data
          collected by a now-retired NASA space-based telescope called Kepler,
          which was used to examine the sky for exoplanets during a survey of
          500,000 stars that ended 8 years ago.
        </p>
      </div>

      <!-- Article 6 - Desktop only -->
      <div class="Article desktopOnly">
        <img
          class="articleImg"
          src="Images/amino.jpg"
          alt="Image Placeholder"
        />
        <h2 class="articleTitle">
          Simple Amino Acid Identified as Perhaps the Difference Between Life
          and Death from Illness
        </h2>
        <p class="articleContent">
          Not all diseases are caused nutrient deficiencies, but they often do
          come with one.
        </p>
        <p class="desktopOnly articleContent">
          A deficiency of vitamin D, for example, is found most cases of
          illness, from cancer to upper-respiratory tract infections to sepsis
          and osteoporosis.
        </p>
      </div>

      <!-- Article 7 - Desktop only -->
      <div class="Article desktopOnly">
        <img
          class="articleImg"
          src="Images/J.-Adam-Fenster-University-of-Rochester-via-SWNS.jpg"
          alt="Image Placeholder"
        />
        <h2 class="articleTitle">
          Spider-Inspired Design Makes Metal Tubes ‘Unsinkable’–A Breakthrough
          in Maritime Engineering
        </h2>
        <p class="articleContent">
          It’s been 113 years since the ‘unsinkable’ Titanic sank, and engineers
          still have hopes of someday creating unsinkable ships.
        </p>
        <p class="desktopOnly articleContent">
          None more so than a team at the University of Rochester that recently
          present a new “superhydrophobic” design that could lead to more
          resilient ships, floating platforms, and renewable energy innovations.
        </p>
      </div>

      <!-- Article 8 - Desktop only -->
      <div class="Article desktopOnly">
        <img
          class="articleImg"
          src="Images/dcshovelers.jpg"
          alt="Image Placeholder"
        />
        <h2 class="articleTitle">
          ‘DC Snow Heroes’ Shovel Neighbors Out of Trouble After Winter Storms
        </h2>
        <p class="articleContent">
          After low winter temperatures battered multiple regions of the country
          with snow, heroes in Washington, DC, stood up to be accounted for.
        </p>
        <p class="desktopOnly articleContent">
          With major thoroughfares taking priority for District plows and
          employees, the ‘DC Snow Heroes’ hit the blocks, shovels in hand, to
          clear sidewalks for the elderly, the young, the disabled, or even just
          the overwhelmed.
        </p>
      </div>
    </main>

    <!-- End of Articles -->

    <div class="footer">
      <div class="footerContent">
        <h3 class="footerTitles">Subscribe</h3>
        <p class="footerColLinks">
          <a href="https://www.example.com/" class="footerlink"
            >Digital Access
          </a>

          <a href="https://www.example.com/" class="footerlink">
            Home Delivery
          </a>

          <a href="https://www.example.com/" class="footerlink">
            Gift Subscriptions
          </a>
        </p>
      </div>

      <div class="footerContent">
        <h3 class="footerTitles">Account</h3>
        <p class="footerColLinks">
          <a href="https://www.example.com/" class="footerlink">Log In </a>
          <a href="https://www.example.com/" class="footerlink"> Manage </a>
          <a href="https://www.example.com/" class="footerlink"> Delivery </a>
        </p>
      </div>

      <div class="footerContent">
        <h3 class="footerTitles">Contact</h3>
        <p class="footerColLinks">
          <a href="https://www.example.com/" class="footerlink">Tip Hotline </a>
          <a href="https://www.example.com/" class="footerlink">
            Help & FAQs
          </a>
          <a href="https://www.example.com/" class="footerlink">
            Advertising
          </a>
        </p>
      </div>
    </div>
  </body>
</html>
