*{
    font-family: 'Verdana', sans-serif;
    background-color: #d9fad1;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #015536;
}

.container {
    margin: auto;
    max-width: 768px;
    padding: 10px;
}

.headerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: #047048 2px solid;
    border-radius: 10px;
}

.header {
    text-align: center;
}

.headerTitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
    flex-wrap: wrap;
}

.navBar a {
    text-decoration: none;
    color: #015536;
    font-size: 1rem;
    transition: color 1s ease;
}

.navBar a:hover {
    color: #047048;
    font-weight: bold;
}

.navBar a:not(:last-child)::after {
    content: "•";
    margin-left: 1rem;
    color: #015536;
}

.content p{
    color: #015536;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;       
    left: 0;
    width: 100%;            
    text-align: center;    
    padding: 10px 0;       
}
