*{
    font-family: 'Arial', sans-serif;
    background-color: #CAEEC2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #015536;
}

.headerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: #047048 2px solid;
    border-radius: 10px;
}

.header {
    text-align: center;
}

.headerTitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5em;
    margin-bottom: 35px;
    text-decoration: underline;
}

.movieLayout {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.movie {
    border-radius: 15px;
    border: 2px solid black;
    background-color: azure;
    width: 20%;
    padding: 15px;
    text-align: center;
}

.moviePoster {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}