<!DOCTYPE html>
<!--
Author: Matthew Kolesnik
Date: 1 Feb 2025
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="NewsPaperLayoutCSS/NewsPaperLayout.css" />
  </head>
  <body>
    <div class="header">
      <img
        class="hamburgerImage"
        src="Images/Hamburger_icon.svg.png"
        alt="Hamburger menu dropdown"
      />
      <h1 class="NewsPaperTitle">The Daily News</h1>
    </div>

    <div class="Article">
      <img src="Images/ImagePlaceholder.jpg" alt="Image Placeholder" />
      <h2 class="articleTitle">Headline Example</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure pariatur
        ut laboriosam minus itaque officia omnis repellendus voluptates nemo
        numquam!
      </p>
    </div>
  </body>
</html>
